@import "tailwindcss";

@theme {
  --color-primary: #87CEFA;
  --color-primary-hover: #71b8f5;
  --color-primary-active: #5aa4e5;
  --color-primary-light: #e0f2fe; /* Light blue background for active states */
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-800 font-sans;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}
